.gallery {
  text-align: center;
}

.form input {
  margin-bottom: 0.75rem;
}

.form label {
  display: block;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

.thumbnails {
  padding-top: 1.5rem;
}

.thumbnails img {
  cursor: pointer;
  margin: 1rem 1.5rem;
  width: 12rem;
  vertical-align: middle;
}

.image {
  margin: 1.5rem auto;
  max-width: 32rem;
  position: relative;
}

.image nav {
  position: absolute;
  top: calc(50% - 1rem);
}

.image button {
  background: transparent;
  border: 0;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: bold;
}

.image .prev {
  left: 0;
}

.image .next {
  right: 0;
}

.image img {
  margin-bottom: 1rem;
  max-width: calc(100% - 4rem);
}

.image figcaption {
  font-weight: 500;
}
